



<mat-list role="list">

<div class="profile-card">
    <img src="https://i.pinimg.com/564x/43/6c/b8/436cb876d31f2a028b5563e7dbaff0d0.jpg" alt="">

    <h2>Admin</h2>
    <h4>adminishere123@gmail.com</h4>

</div>

<mat-divider></mat-divider>
<h2 mat-subheader>Pages</h2>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Institution</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Employees</a>




  </mat-list>
  
